In [1]:
import numpy as np
import pandas as pd

In [4]:
file = "../votes/1_funny_games.csv"

In [6]:
data = pd.read_csv(file)
data

   ratings  cry
0      4.5    0
1      4.0    0
2      3.0    0
3      4.0    0
4      4.0    1
5      3.5    0
6      4.0    0

In [12]:
average_score = round(data.ratings.mean(), 1)
average_score

3.9

In [15]:
cry_o_meter = round(data.cry.mean() * 100)
cry_o_meter

14